

*   Yully Stefania Cadena 
*   Diana Marcela Peña

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.optimize import minimize
from scipy.optimize import linprog
import numpy as array
import numpy as np
import cvxpy as cp

Punto 1

In [ ]:
#Función objetivo
c_1 = [-3, -5]

# Restricciones de desigualdad
A_ub = [[1, 1], [2, 4], [1, 2]]
b_ub = [500, 1000, 2000]


bounds = [(100, None), 
        (150, None)]


r_1 = linprog(c_1, A_ub=A_ub, b_ub=b_ub, bounds=bounds)
r_1

        message: Optimization terminated successfully. (HiGHS Status 7: Optimal)
        success: True
         status: 0
            fun: -1350.0
              x: [ 2.000e+02  1.500e+02]
            nit: 0
          lower:  residual: [ 1.000e+02  0.000e+00]
                 marginals: [ 0.000e+00  1.000e+00]
          upper:  residual: [       inf        inf]
                 marginals: [ 0.000e+00  0.000e+00]
          eqlin:  residual: []
                 marginals: []
        ineqlin:  residual: [ 1.500e+02  0.000e+00  1.500e+03]
                 marginals: [-0.000e+00 -1.500e+00 -0.000e+00]
 mip_node_count: 0
 mip_dual_bound: 0.0
        mip_gap: 0.0

Punto 2

In [ ]:
c_2 = np.array ([0.10, 0.15, 0.16, 0.08])

a_1= np.array ([[0.5, 0.3, 0.25, 0.6],
                [0.3, 0.1, 0.4, 0.2],
                [0.2, 0.6, 0.35, 0.2]])


a_2 = np.array([[1, 1, 1, 1]])

b_1 = np.array([35,30,15])
b_2=np.array([100])

r_1  = linprog(-c_2, A_ub=-a_1, b_ub=-b_1, A_eq=-a_2, b_eq=-b_2, method='revised simplex')
r_1

<ipython-input-51-b9e3090e2671>:13: DeprecationWarning: `method='revised simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  r_1  = linprog(-c_2, A_ub=-a_1, b_ub=-b_1, A_eq=-a_2, b_eq=-b_2, method='revised simplex')

 message: Optimization terminated successfully.
 success: True
  status: 0
     fun: -13.736842105263158
       x: [ 0.000e+00  1.579e+01  5.789e+01  2.632e+01]
     nit: 7

In [ ]:
pd.DataFrame(r_1.x)

           0
0   0.000000
1  15.789474
2  57.894737
3  26.315789

Punto 3

In [ ]:
c_3 = np.array([0,0,0,0,0,0,0,0,0,0,0,0,0,1])

# Restricciones de desigualdad

A_3 = np.array([[1,0,0,0,0,1,0,0,-1,0,0,0,0,0],
               [-1.01,1,0,0,0,0,1,0,1.003,-1,0,0,0,0],
               [0,-1.01,1,0,0,0,0,1,0,1.003,-1,0,0,0],
               [0,0,-1.01,1,0,-1.02,0,0,0,0,1.003,-1,0,0],
               [0,0,0,-1.01,1,0,-1.02,0,0,0,0,1.003,-1,0],
               [0,0,0,0,-1.01,0,0,-1.02,0,0,0,0,1.003,-1]])

B_3= np.array([150,100,-200,200,-50,-300])


r_3= linprog(-c_3, A_eq=A_3, b_eq=B_3,method='simplex')
print(round(pd.DataFrame(r_3.x),2))

         0
0     0.00
1    50.98
2     0.00
3     0.00
4     0.00
5   150.00
6    49.02
7   203.43
8     0.00
9     0.00
10  351.94
11    0.00
12    0.00
13   92.50

<ipython-input-49-551860d2a9cd>:15: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  r_3= linprog(-c_3, A_eq=A_3, b_eq=B_3,method='simplex')

Punto 4

In [ ]:
c_4= np.array([0,0,0,0,0,0,0,1])

a_4= (1+0.0001)**7

A_4 = np.array([[1,0,0,0,-1,0,0,0],
                [0,1,0,0,a_4,-1,0,0],
                [0,0,1,0,0,a_4,-1,0],
                [0,0,0,1,0,0,a_4,-1,]])

b_4 = np.array([[150,-100,-50,200]])
r_4 = linprog(-c_4,A_ub=A_4, b_ub= -b_4,method='simplex')
r_4

<ipython-input-7-548801ed042b>:11: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  r_4 = linprog(-c_4,A_ub=A_4, b_ub= -b_4,method='simplex')

 message: Optimization failed. The problem appears to be unbounded.
 success: False
  status: 3
     fun: -200.14021366142958
       x: [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  1.500e+02
            5.011e+01  1.401e-01  2.001e+02]
     nit: 4

In [ ]:
pd.DataFrame(r_4.x)

            0
0    0.000000
1    0.000000
2    0.000000
3    0.000000
4  150.000000
5   50.105032
6    0.140116
7  200.140214

Punto 5

In [ ]:
C_5=np.array([0,0,0,5,8,10])
A_5=np.array([[0,0,0,1,0,0],
            [0,1,0,0,0,0],
            [0,0,1,0,0,0],
            [0,0,0,0,1,0],
            [0,0,0,0,0,1]])
B_5=np.array([2000,300,250,2000,2000])

A_6=np.array([[1,1,1,0,0,0],[0,0,0,1,1,1]])
B_6=np.array([1000,10000])
res2=linprog(-C_5,A_ub=-A_5,b_ub=-B_5,A_eq=A_6,b_eq=B_6,method="simplex")
print(round(pd.DataFrame(res2.x),2))
res2

        0
0   450.0
1   300.0
2   250.0
3  2000.0
4  2000.0
5  6000.0

<ipython-input-5-57083756e196>:11: DeprecationWarning: `method='simplex'` is deprecated and will be removed in SciPy 1.11.0. Please use one of the HiGHS solvers (e.g. `method='highs'`) in new code.
  res2=linprog(-C_5,A_ub=-A_5,b_ub=-B_5,A_eq=A_6,b_eq=B_6,method="simplex")

 message: Optimization terminated successfully.
 success: True
  status: 0
     fun: -86000.0
       x: [ 4.500e+02  3.000e+02  2.500e+02  2.000e+03  2.000e+03
            6.000e+03]
     nit: 3

Punto 6

In [ ]:
C_6 = np.array([ [4, 6, 9], [5, 4, 7], [6, 3, 4], [8, 5, 3],[10, 8, 4]]) #Coeficientes función costos
D_6 = np.array([80, 270, 250, 160, 180]) #Coeficientes demanda
F_6 = np.array ( [1000, 1000, 1000]) #Coeficientes Fj
M_6 = np.array([500, 500, 500]) #Coeficientes Mj

X = cp.Variable((5,3), nonneg=True)
Y = cp.Variable(3, boolean=True)

objective = cp.Minimize(cp.sum(cp.multiply(F_6, Y)) + cp.sum(cp.multiply(C_6, X)))

constraints = []
for i in range(5) :
  constraints.append(cp.sum(X[i, :]) >= D_6[i])

for j in range(3) :
  constraints.append(cp.sum(X[:, j]) <= M_6[j] * Y[j])

Prob = cp.Problem(objective, constraints)
Result = Prob.solve()
Result

5610.0